/Dashboard/server/package-lock.json
/Dashboard/server/node_modules
/Dashboard/client/package-lock.json
/Dashboard/client/node_modules
/send_api_structure/package-lock.json
/send_api_structure/node_modules